.card-header{
    background-color: #ADC178; 
    border-color: white;
}

.card-body{
    background-color: #DDE5B6;
    border-color: white;
}

.media{
    background-color: #ADC178;
    border-color: white;
}

