.main-post-header
{
    background-color: #ADC178; 
    border-color: white
}

.main-post-body
{
    background-color: #DDE5B6;
    border-color: white
}

.reply-class
{
    background-color: #ADC178 !important;
    border-color: white !important
}

.profile-pic
{
    float: left;
}

.username
{
    text-transform: uppercase;
}

.reply-timestamp
{
    font-size: 13px;
}
