body {
    margin: 0;
    padding: 0;
    background: #DDD;
    background-image: url("images/seamless_flower_opacity.png");
    background-repeat: repeat;
    color: #215751;
  }
#prof_page{
    background-color: #6C584C;
    padding: 10px;
    color: #215751;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#prof_page .btn-success{
    background-color: #ADC178;
    border-color: white;
}

#prof_page .btn:hover {
    color: #fff;
    background-color: #1F6321;
    border-color: white;
    transition: background-color 0.15s;
}

#prof_page .card-body{
   font-family:  "Klee One", cursive;  
} 

#prof_page .list-group{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
 } 

#prof_page h3{
    font-family:  "Handlee", cursive; 
    font-size: 250% ;
    /*maybe Pristina?*/
} 

#prof_page .the_info
    {
    background-color: #DDE5B6;
    border: 15px solid #DDE5B6;
    border-radius: 1%;
    padding: 30px;
    margin: 20px;
    color: #215751;
}
#prof_page .prof-photo{
    background-color: #DDE5B6;
    border: 15px solid #DDE5B6;
    border-radius: 1%;
    padding: 30px;
    margin: 20px;
    color: #215751;
}
#prof_page .center-this {
    display: flex;
    justify-content: center;
}
#prof_page .plant{
    background-color: #DDE5B6;
    border: 15px solid #DDE5B6;
    border-radius: 1%;
    padding: 30px;
    margin: 20px;
    color: #215751;
}
                        
#prof_page .center-it {
    display: flex;
    justify-content: center;
}

.container{
    background-color: #6C584C;
    padding: 10px;
    color: #DDE5B6;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#daily_tasks_submit {
    background-color: #adc178;
    border: 4px important!;
    border-color: white;
}

#water .btn:hover {
    color: #fff;
    background-color: #1F6321;
    border-color: white;
    transition: background-color 0.15s;
}