@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.results{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: forestgreen;
  text-align: center;
  font-size: 20px; 
}

.plant-picture
{
  max-width: 400px;
  max-height: 400px;

}



  
  