@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  text-align: left;
}

.result{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
    
  text-align: block;
  color:#16a085;
}


input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    left:auto;

  }
  

  .search-box
{
    text-align: center;
}
  
.search 
{
    max-width: 1000px;  
}