
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Handlee&family=Sofia&display=swap');

*:focus {
  outline: none;
}

body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #e3e3e3 ;
}

#login-box {
   
  position: relative;
  margin: 5% auto;
  width: 700px;
  height: 500px;
  background-color: #FFF;
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.6);
  border-radius: 17.5px;
  border: 4px solid #ADC178;
}



.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: url("https://source.unsplash.com/random/?flower,plant,nature");
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(100%) brightness(1) blur(0.25px);
}


input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0px;
  width: 600px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background-color: #ADC178;
  border-color: white;
  border-radius: 2px;
  color: #FFF;
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  position: relative;
  left: 250px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
} 
