/*import Handlee and Klee One*/
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');


.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Taken from forum.html */

/* CONFLICT- PLEASE FIX */
body {
  margin: 0;
  font-family: "Klee One", cursive;
  /*, cursive, -apple-system,  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  font-size: .88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #eef1f3;
  padding-top: 70px !important;
}
    
.mt-100 {
    margin-top: 100px
}
    
.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem
    0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s
}
    
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
    
.card-header {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .625rem;
    height: 3.5rem;
    text-transform: uppercase;
    background-color: #ADC178;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125)
}
    
.btn-primary {
    color: #fff;
    background-color: #ADC178;
    border-color: white;
}

.btn {
    font-size: 0.8rem;
    font-weight: 500;
    outline: none !important;
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s

}

.btn:hover {
  background-color: #1F6321;
  border-color: white;
}
    
.card-body {
    background-color: #DDE5B6;
    flex: 1 1 auto;
    padding: 1.25rem
}
    
.card-body p {
    font-size: 13px
}
    
a {
    color: #E91E63;
    text-decoration: none !important;
    background-color: transparent
}
    
.media img {
    width: 40px;
    height: auto
}


*:focus {
  outline: none;
}

/* Taken from login.html*/

/* CONFLICT- PLEASE FIX : i think the best way to fix is just get rid of this one - it is much less dynamic*/

.items {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 700px;
  height: 500px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  font-family: "Handlee";
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 600px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: "Klee One",'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #1F6321;
  color: #1F6321;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #1F6321;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: "Klee One", 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  position: relative;
  left: 250px;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

/* taken from register.html*/



*:focus {
  outline: none;
}

/* merged copies of styles from login.html */
