{% extends 'basic.html' %}

{% block title %} Profile {% endblock %}
{% block profileactive %} active {% endblock profileactive %}

{% block css %}
    {# Add your CSS links or styles here if needed #}
{% endblock %}
{% block body %}
<br>

<!-- display all messages; this is from the django.contrib library. For how to use (add a message),
   see views.py. There are some exampels in there that use it. More info can also be found here:
   https://docs.djangoproject.com/en/5.0/ref/contrib/messages/ 
  -->
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="row pad">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Username: <strong class="float-right">{{ request.user }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Full Name: <strong class="float-right">{{ request.user.get_full_name }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Email: <strong class="float-right">{{ request.user.email }}</strong>
                                </li>
                                <li class="list-group-item">
                                    <form action="/myprofile/" enctype="multipart/form-data" method="POST">
                                        {% csrf_token %}
                                        
                                        <!-- for avatar form -->
                                        {{ avatar_form.as_p }}
                                        <button type="submit" name="avatar_submit">Upload Avatar</button>
                                        
                                        <!-- for plant form -->
                                        {{ plant_form.as_p }}
                                        <button type="submit" name="plant_submit">Save Plant Info</button>
                                        
                                        <!-- for avatar image display -->
                                        Profile Photo: <strong class="float-right"> <img
                                            src="{{ request.user.profile.avatar.url }}" class="rounded-circle" alt=""
                                            width="150px" height="150px"></strong>
                                        

                                        <!-- for plant image display -->
                                        Plant Image 1: <strong class="float-right"> <img
                                            src="{{ request.user.profile.plant_port_1.url }}" class="rounded-circle" alt=""
                                            width="150px" height="150px"></strong>

                                        <!-- for additional plants, copy above and make sure the additonals are in the
                                            models, under profile. Can copy what is there, just make sure the change the
                                            associated number. IE if copying from one, change plant_image_1 to plant_image_#
                                            and plant_name_1 to plant_name_#. 

                                            When ever changeing models/database stuff, make sure to run:
                                            python manage.py makemigrations
                                            python manage.py migrate

                                            before you try to open the site. It will give you errors otherwise.
                                        -->
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
