<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- this allows us to bootstrap the website. 
      Integrity is the hash value of the site we want to access. This must match the site to work.
      It is a security feature. Say that someone new had the href URL provided. We are loading that in,
      but the new owner/user of the URL could have malicious intents. It's pretty much a second check
      to make sure that we are accessing what we thing we are accessing.
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    
    <!-- CSS stylesheet reference -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile_of_user/style.css' %}">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Discussion Forum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% block homeactive %} {% endblock homeactive %} ">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      {% if user.is_authenticated %}
<ul class="navbar-nav mr-2">
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Logout</a>
          
      <li class="nav-item {% block profileactive %} {% endblock profileactive %}">
        <a class="nav-link" href="/myprofile">Profile</a>
      </li>

        </div>
      </li>      
{% else %}
      <li class="nav-item {% block registeractive %} {% endblock registeractive %}">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item {% block loginactive %} {% endblock loginactive %}">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>
<br>
</body>
{% block body %} {% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  {% block js %} {% endblock %}
</html>
