<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <title>{% block title %} {% endblock %}</title>

    <!-- CSS stylesheet reference -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile_of_user/style.css' %}">
    
    <!-- load favicon -->
    <link rel="icon" type="image/png" href="{% static 'profile_of_user/images/plant_icon.png' %}">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top px-3" style="background-color: #483C32;">

            <div class="navbar-brand">
                <a href="/"><span>&#127804</span> PlantPals <span>&#127804</span> </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class = "container-fluid"> <!-- Makes search bar stay on the right of the navbar  -->
                    <ul class="navbar-nav mr-auto">

                        <!-- Navbar sect. under any case -->
                        <li class="nav-item {% block homeactive %} {% endblock homeactive %} ">
                            <a class="nav-link" href="/">Terra Talk<span class="sr-only"></span></a>
                        </li>

                        <li class="nav-item {% block searchactive %} {% endblock searchactive %} ">
                            <a class="nav-link" href="/search">Search Database</a>
                        </li>

                        <!-- Navbar ext. if user is logged in -->
                        {% if user.is_authenticated %}
                        <ul class="navbar-nav mr-2">

                        <!-- profile page nav header -->
                            <li class="nav-item {% block profileactive %} {% endblock profileactive %}">
                                <a class="nav-link" href="/myprofile">Botanic Bio</a>
                            </li>

                        <!-- logout nav header -->
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button"
                                data-toggle="dropdown">{{request.user}}</a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">Logout</a>
                                <a class="dropdown-item"> <span>&#127800</span> </a>
                            </div>
                        </li>

                        </ul>

                        <!-- Navbar ext. if user is not logged in. -->
                        {% else %}
                        <!-- register nav header -->
                        <li class="nav-item {% block registeractive %} {% endblock registeractive %}">
                            <a class="nav-link" href="/register">Sprout Signup</a>
                        </li>

                        <!-- login nav header -->
                        <li class="nav-item {% block loginactive %} {% endblock loginactive %}">
                            <a class="nav-link" href="/login">Leaf Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <form class="d-flex" role="search" action="{% url 'Search' %}" method="POST">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">{% csrf_token %}Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
        {% block body %} {% endblock %}
    </main>

    <!-- bootstrap JS and other scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous">
    </script>

    {% block js %} {% endblock %}
</body>

</html>
