{% extends 'basic.html' %}

{% block title %} Forum {% endblock %}
{% block homeactive %} active {% endblock homeactive %}


{% block body %}
{% load static %}

<!--
  where to put new reference to page stylesheet!!
  <link rel="stylesheet" href="{% static 'profile_of_user/NAME.css' %}">
  <link rel="stylesheet" href="{% static 'profile_of_user/discussion.css' %}">
-->
<link rel="stylesheet" href="{% static 'profile_of_user/discussion.css' %}">

<div class="container my-4" id="contain">
<div class="jumbotron" id="jumbo">
    <h1 class="display-4">PlantPals!</h1>
    <p class="lead">Welcome to our discussion forum. <br> <br> The problem of a lack of community and information in houseplant ownership affects plant owners; the impact of which is isolation and ineffective plant care that results in plants dying preventable deaths. <br> 
      Plant Pals helps plant owners grow (and not kill their plants) by providing information and a community that gives everyone a green thumb! <br> <br> Thank you and have a nice day!!</p>
    <p>You can also reply to others post by clicking on their post and replying them.</p>
      <button class="btn btn-primary btn-lg" data-target="#questions" data-toggle="modal" role="button">Add Post</button>
    </div>

    <!-- Post outline -->
    {% for post in posts %}
    <div class="container-fluid mt-10">
      <div class="row">
          <div class="col-md-12">
              <div class="card mb-4">

                  <div class="card-header justify-content-between">
                        <div class="d-flex align-items-center w-100"> 
                                <img src="/media/{{post.image}}" class="d-block ui-w-40 rounded-circle" alt="" width="40px" height="40px">
                            <div class="media-body ml-3"> 
                                <a href="/discussion/{{post.id}}" data-abc="true">{{post.user1}}</a>
                            </div>
                        </div>
                            <div class="text-muted small ml-3">
                                <div class="px-4 pt-3">{{post.timestamp}} </div>
                            </div>
                        
                  </div>  

                  <div class="card-body">
                      <p>{{post.post_content}}</p>
                  </div>
                  
                  <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">                  
                  </div>

              </div>
          </div>
      </div>
  </div>
  {% endfor %}

</div>

<!-- modal -->
<div class="modal fade" id="questions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% if user.is_authenticated %}
        <div class="modal-body">
          <form action="/" method="POST"> {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Post Your Question Here</label>
            <textarea class="form-control" id="content" name="content" rows="3"></textarea>
          </div>
        </div>
        {% else %}
        <h3>Please Login to post</h3>
        {% endif %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Post</button>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
    {% block js %}
    <script>
     {% if alert %}
    alert('Your Question has been posted successfully!!');
    document.location = '/';
    {% endif %}
    </script>
    {% endblock %}
