{% extends 'basic.html' %}

{% block title %} Log In {% endblock %}
{% block loginactive %} active {% endblock loginactive %}



<!-- start of code -->

{% block body %} 
<!-- load css stylesheet -->
{% load static %}
    <link rel="stylesheet" href="{% static '/profile_of_user/sign_in.css' %}">

<!-- the actual login -->
<div class="background"></div>

<!-- display all messages; this is from the django.contrib library. For how to use (add a message),
   see views.py. There are some exampels in there that use it. More info can also be found here:
   https://docs.djangoproject.com/en/5.0/ref/contrib/messages/ 
  -->
{% for message in messages  %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}

    

  <div id="login-box">
      <div class="items">
        <h1>Log In</h1>
          <form action="/login/" method="post">
          
          <!-- security key; look up for more info -->
          {% csrf_token %}

          <!-- first param is the type; second is the saved variable name to use in code; 
            third is the display to user 
          -->
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />      
          <input type="submit" name="signup_submit" value="Log In" />
      </div>   
    </div>

{% endblock %}
