{% extends 'basic.html' %}

{% block title %} Profile {% endblock %}
{% block profileactive %} active {% endblock profileactive %}

{% block body %}

<!-- display all messages -->
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<!-- Profile information -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

{% load static %}
<link rel="stylesheet" href="{% static '/profile_of_user/profile_style.css' %}">

<div id="prof_page" class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="row pad">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="card-body">
                            <h3>BUILD YOUR PROFILE</h3>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Username: <strong>{{ request.user }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Full Name: <strong>{{ request.user.get_full_name }}</strong>
                                </li>
                                <li class="list-group-item">
                                    Email: <strong>{{ request.user.email }}</strong>
                                </li>
                                <li class="list-group-item">
                                    <form action="/myprofile/" enctype="multipart/form-data" method="POST">
                                        {% csrf_token %}
                                        <div class="the_info">
                                            <h3 style="text-align: center;"><b>Enter Your Information</b></h3>

                                            <!-- avatar form -->
                                            <h5><b>AVATAR</b></h5>
                                            {{ avatar_form.as_p }}
                                            <button type="submit" class="btn btn-success" name="avatar_submit">Upload Avatar</button>
                                            <br><br><be>

                                            <!-- plant form -->
                                            <h5><b>PLANT INFORMATION</b></h5>
                                            {{ plant_form.as_p }}
                                            <button type="submit" class="btn btn-success" name="plant_submit">Save Plant</button>
                                            <br><be>

                                        </div>
                                        <!-- avatar image display -->
                                        <div class="prof-photo">
                                            <h3 style="text-align: center;"><b>Profile Photo</b></h3>
                                            <p>Name: {{ request.user }}</p>
                                            <p>Image:<strong class="float-right"><div class="center-this"><img src="{{ request.user.profile.avatar.url }}" class="btn btn-success" alt="" width="175px" height="175px"></div></strong></p>
                                        </div>

                                        <!-- plant image display -->
                                        {% if request.user.profile.plant_image_1 %}
                                            <div class="plant-info">
                                                <div class="plant">
                                                    <h3 style="text-align: center;"><b>Plant 1</b></h3>
                                                    <p>Name: {{ request.user.profile.plant_name_1}}</p>
                                                    <p>Image: <div class="center-it"><strong class="float-right"><img src="{{ request.user.profile.plant_image_1.url }}" alt="Plant Image" class="btn btn-success" alt="" width="175px" height="175px"></div></p></strong>
                                                </div>
                                                <be>

                                                <!-- remove button for Plant Image 1 -->
                                                <button type="submit" class="btn btn-success" name="remove_plant_image_1">Remove Image</button>
                                            </div>
                                        {% endif %}

                                        <!-- Copy and modify the above code for additional plants -->
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- watering schedule -->
<div id="water" class="container" style="margin-top: 50px; text-align: center;">
    <form method="post">
        {% csrf_token %}
        <h3>WATERING SCHEDULE</h3>

        <!-- table for water schedule -->
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Task</th>
                    <th>Completed</th>
                </tr>
            </thead>

            <tbody>
                <!-- display each of the current week's tasks -->
                {% for task in current_week_tasks %}

                <tr>
                    <!-- display task date (gets from system to determine week) -->
                    <td>{{ task.task_date|date:"D, d M" }}</td>

                    <!-- input for task description -->
                    <td><input type="text" name="task_{{ forloop.counter0 }}" value="{{ task.task_description }}"></td>

                    <!-- checkbox for task completion -->
                    <td><input type="checkbox" name="completed_{{ forloop.counter0 }}" {% if task.completed %}checked{% endif %}></td>

                </tr>
                {% endfor %}
            </tbody>

        </table>

        <!-- submit button to save watering schedule -->
        <button type="submit" class="btn btn-success" name="daily_tasks_submit" id="daily_tasks_submit">Save</button>
    </form>
</div>


{% endblock %}
