{% extends 'basic.html' %}

{% block title %} Register {% endblock %}
{% block registeractive %} active {% endblock registeractive %}

<!-- start of website code -->

{% block body %} 
 
{% load static %}
    <link rel="stylesheet" href="{% static '/profile_of_user/sign_up.css' %}">
    

<div class="background"></div>

<!-- display all messages; this is from the django.contrib library. For how to use (add a message),
   see views.py. There are some exampels in there that use it. More info can also be found here:
   https://docs.djangoproject.com/en/5.0/ref/contrib/messages/ 
  -->
{% for message in messages  %}            
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}


<div id="login-box">
    <div class="items">
      <h1>Register</h1>
        <form action="/register/" method="post"> 

        <!-- security token; look up for more details -->
        {% csrf_token %}
   
        <!-- getting details from the user. 
          first param is the type, second is the item itself used for code check, third is the text displayed
        -->
        <input type="text" name="username" placeholder="Username" />
        <input type="email" name="email" placeholder="E-mail" />
        <input type="text" name="first_name" placeholder="First Name" />
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="confirm_password" placeholder="Confirm your password" />
      
      <!-- submit data -->
      <input type="submit" name="signup_submit" value="Register" />
    </div>   
  </div>
 
  {% endblock %}

