{% extends 'basic.html' %}

{% block title %} Search {% endblock %}
{% block searchactive %} active {% endblock searchactive %}


{% load static %}


{% block body %} 


<form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <input class="search" type="text" name="q" placeholder="Search">
    <input type="submit" value="Submit">
</form> 

{% if search_result %}
    <ul>
    {% for result in search_result %}
        <li><a href="/profile_of_user/{{ result.scientific_name }}/">{{ result.scientific_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Search returned no matches.</p>
{% endif %}

{% endblock %}
