{% extends 'basic.html' %}

{% block title %} Search {% endblock %}
{% block searchactive %} active {% endblock searchactive %}


{% load static %}


{% block body %} 
<link rel="stylesheet" href="{% static '/profile_of_user/search.css' %}">

<!-- Search bar and search button -->
<div class = "container-fluid d-flex justify-content-center">
    <form class = "d-flex flex-column align-items-center" action="{% url 'Search' %}" method="POST">
        {% csrf_token %}
        <input class=" search form-control" type="search" name="q" placeholder="Search">
        <input type="submit" value="Submit" class = "mx-auto">
    </form> 
</div>

<!-- results -->
{% if search_result %}
    <ul class = "mt-3">
    {% for result in search_result %}
        <li class = 'result'>
            <a href="{{ result.scientific_name }}/">{{ result.common_name }} ({{ result.scientific_name }})</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Sorry, that plant does not seem to be searchable. Maybe one of those pesky zombies got to them.</p>
{% endif %}

{% endblock %}
